@model List<EMarket.Models.CartItem>
@using System.Linq;

<div id="clearAlert" class="alert alert-warning alert-dismissible" role="alert" style="display: none;">
    Sepetteki tüm ürünler başarıyla silindi!
    <button type="button" class="btn-close" onclick="hideClearAlert()" aria-label="Kapat"></button>
</div>

<h2>Sepetim</h2>

@if (!Model.Any())
{
    <p>Sepetiniz boş.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Ürün</th>
                <th>Adet</th>
                <th>Birim Fiyat</th>
                <th>Toplam</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price.ToString("N2") ₺</td>
                    <td>(@(item.Quantity* item.Price)) ₺</td>
                    <td>
                        <a  asp-action="Remove" asp-route-id="@item.ProductId" class="btn btn-sm btn-outline-danger">Sil</a>
                    </td>
                </tr>
            }

        
            <tr class="table-light fw-bold">
                <td colspan="3" class="text-end">Toplam Genel:</td>
                <td colspan="2">
                    @Model.Sum(item => item.Price * item.Quantity).ToString("N2") ₺
                </td>
            </tr>
        </tbody>
    </table>

  
    <a asp-controller="Checkout" asp-action="Index" class="btn btn-success mt-3"> Siparişi Tamamla</a>
    <button onclick="clearCart()" class="btn btn-danger mt-3">Tüm Sepeti Temizle</button>
}



